

.lastName{
  margin-left: 100%;
}

.title{
  text-align: center;
  width: 100%;
}

.price {
 margin-left: 50%;
}

.datos {
  margin-top: 5%;
}

.hour{
   margin-left: 79%;
}

.email {
  width: 70%;
  margin-left: 15%;
}

.header {
  color: #36A0FF;
  font-size: 27px;
  padding: 10px;
}

.bigicon {
  font-size: 35px;
  color: #36A0FF;
}

.form-group{
display: flex;
}

.btn-primary{
  background-color: #36A0FF;
}

.mat-dialog-container{
  padding: 0px !important;
}
