<section class="hero-wrap hero-wrap-2" style="background-image: url('assets/images/bg_3.jpg');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9  text-center mb-4">
        <h2 class="titulo"> Reservas</h2>
      </div>
    </div>
  </div>
</section>

      <div class="col-md-6 order-md-last offset-3  makereservation ">
        <div class="py-md-5">
          <span class="titulo2">Reservá una mesa</span>
            <form action="#">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Nombre</label>
                  <input type="text" class="form-control" placeholder="Nombre">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Email</label>
                  <input type="text" class="form-control" placeholder="Email">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Telefono</label>
                  <input type="text" class="form-control" placeholder="Telefono">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">fecha</label>
                  <input type="text" class="form-control" id="book_date" placeholder="dd/mm/aa">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <div class="form-group">
                    <label for="">horario</label>
                    <div class="select-wrap one-third">
                      <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                      <select name="" id="" class="form-control">
                        <option value="">seleccione un horario</option>
                        <option value="">20:00 hs</option>
                        <option value="">21:00 hs</option>
                        <option value="">22:00 hs</option>
                      </select>
                    </div>
                  </div>
                </div>
                </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="">personas</label>
                  <div class="select-wrap one-third">
                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                    <select name="" id="" class="form-control">
                      <option value="">cantidad</option>
                      <option value="">1</option>
                      <option value="">2</option>
                      <option value="">3</option>
                      <option value="">4+</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="co1-md-12 mt-3 offset-3">
                <div class="form-group">
                  <input type="submit" value="buscar una mesa" class="btn btn-primary py-3 px-5">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

