<div class="py-1 bg-black top">
  <div class="container">
    <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
      <div class="col-lg-12 d-block">
        <div class="row d-flex">
          <div class="col-md pr-4 d-flex topper align-items-center">
            <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
            <span class="text">0341 421-7121</span>
          </div>
          <div class="col-md pr-4 d-flex topper align-items-center">
            <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
            <span class="text">info@iam-eventos.com.ar</span>
          </div>
          <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right justify-content-end">
            <p class="mb-0 register-link"><span>Horario:</span> <span> Lunes a Domingo</span> <span>9:30AM - 11:30PM</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" href="">I.A.M</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>

<!-- menu de usuario -->
    <div class="collapse navbar-collapse" id="ftco-nav" *ngIf="!router.url.includes('admin')">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item "><a class="nav-link" href="">Home</a></li>
        <li class="nav-item"><a  class="nav-link" href="">Sobre nosotros</a></li>
        <li class="nav-item"><a  class="nav-link" routerLink="/galeria">Galeria</a></li>
        <li class="nav-item"><a  class="nav-link" href="">Contacto</a></li>
        <li class="nav-item" *ngIf="actived"><a class="nav-link" routerLink="/menus" >Pedidos</a></li>
        <li class="nav-item disabled" *ngIf="!actived" matTooltip="Los pedidos online no se encuentran disponibles en estos momentos"><a class="nav-link disabled" >Pedidos</a></li>
        <li class="nav-item cta"><a  class="nav-link" routerLink="/reserva">Reservas</a></li>
      </ul>
    </div>

 <!-- menu de administrador -->
    <div class="collapse navbar-collapse" id="ftco-nav" *ngIf="router.url.includes('admin')">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item "><a class="nav-link" href="">Home</a></li>
        <li class="nav-item"><a  class="nav-link" routerLink="/adminGaleria">Galeria</a></li>
        <li class="nav-item"><a  class="nav-link" routerLink="/adminPedidos">pedidos</a></li>
        <li class="nav-item "><a  class="nav-link" routerLink="/adminReservas">Reservas</a></li>
        <li class="nav-item actived"><a  class="nav-link" *ngIf="actived" data-toggle="modal" data-target="#confirm" >pedidos Activados</a></li>
        <li class="nav-item NoActived"><a  class="nav-link" *ngIf="!actived" data-toggle="modal" data-target="#confirm">pedidos Desactivados</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Activar o desactivar pedidos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="actived">
        Seguro que quiere <strong class="danger"> Desactivar </strong> los pedidos?
      </div>
      <div class="modal-body" *ngIf="!actived">
        Seguro que quiere <strong class="success"> Activar </strong> los pedidos?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" *ngIf="actived" (click)="activateOrDesactivate()">Desactivar pedidos</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" *ngIf="!actived" (click)="activateOrDesactivate()">Activar pedidos</button>
      </div>
    </div>
  </div>
</div>
