
<div class="createMenu">
  <div class="card">
      <div class="card-header">
          Crear menu
      </div>
      <div class="card-body">
          <form (submit)="createMenu()">
              <div class="form-group">
                <mat-form-field class="example-full-width">
                  <mat-label>Titulo</mat-label>
                  <input matInput [(ngModel)]="menu.title" [ngModelOptions]="{standalone: true}" >
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <mat-label>Precio</mat-label>
                  <input matInput [(ngModel)]="menu.price" [ngModelOptions]="{standalone: true}" >
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <mat-label>Descripcion</mat-label>
                  <textarea matInput placeholder="descripcion" [(ngModel)]="menu.description" [ngModelOptions]="{standalone: true}"></textarea>
                </mat-form-field>

              </div>

            <div class="selecPhoto">
              <input type="file" class="d-none" (change)="newPhoto($event)" #photoInput>
              <img [src]="fotoSeleccionada || '../assets/images/subirimagen.png'" class="image" alt="No image"
                  (click)="photoInput.click()">
            </div>
              <button class="btn btn-primary btn-block" >
                 Crear Menu
              </button>
          </form>
      </div>
  </div>
</div>
