<mat-horizontal-stepper [linear]="false" #stepper *ngIf="!created">
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Seleccione una fecha</ng-template>
      <mat-form-field>
        <input
          matInput
          [matDatepicker]="picker"
          placeholder="Seleccione una fecha"
          [(ngModel)]="reserva.dia"
          (dateChange)="tablesFoyDay()"
          [ngModelOptions]="{ standalone: true }"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <h6 *ngIf="beforeToday" class="danger"> ese dia ya paso!!</h6>
      <h6 *ngIf="availableHours.length > 0">Seleccione un horario</h6>
      <div class="buttonsContainer">


        <button
          mat-button
          matStepperNext
          class="reservaButton btn btn-primary "
          *ngFor="let available of availableHours"
           (click)="setHour(available.hour)"
        >
            {{ available.hour }} hs
          <p>{{available.tables}} lugares disponibles</p>
        </button>
      </div>

      <div>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Ingrese datos</ng-template>
      <div class="col-md-6 order-md-last offset-3  makereservation ">
        <div class="py-md-5">
            <form action="#"  >
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label >Nombre</label>
                  <input type="text" class="form-control" placeholder="Nombre" [(ngModel)]="reserva.nombre" [ngModelOptions]="{standalone: true}"  >
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label >Apellido</label>
                  <input type="text" class="form-control" placeholder="Apellido" [(ngModel)]="reserva.apellido" [ngModelOptions]="{standalone: true}" >
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label >Telefono</label>
                  <input type="text" class="form-control" placeholder="Telefono" [(ngModel)]="reserva.telefono" [ngModelOptions]="{standalone: true}">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                 <label class="quantityPersons" >Cantidad de personas</label>
               <div class="persons" >
                <button mat-button (click)="subPerson()"> -</button>
                <input class="quantity" min="1"    type="number" max="5" [(ngModel)]="reserva.personas" [ngModelOptions]="{standalone: true}">
                <button mat-button (click)="plusPerson()"> +</button>
              </div>
            </div>
            </div>
          </div>
          </form>
        </div>
      </div>
      <div>
        <button mat-button matStepperPrevious>Volver</button>
        <button mat-button matStepperNext>Siguiente</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Verificar datos</ng-template>
    <div>
      <p class="dataVerification">
        <a class="data"> Nombre: </a> {{reserva.nombre}} {{reserva.apellido}}
      </p>
      <p class="dataVerification">
        <a class="data">Dia: </a>   {{dia}}
      </p>
      <p class="dataVerification">
        <a class="data">Hora: </a>   {{reserva.hora}}:00 hs
      </p>
      <p class="dataVerification">
        <a class="data">Personas: </a> {{reserva.personas}}
      </p>
      <p class="dataVerification">
        <a class="data">Telefono: </a> {{reserva.telefono}}
      </p>
    </div>
    <div>
      <button mat-button matStepperPrevious>Volver</button>
      <button mat-button (click)="createReserva()">Confirmar</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>



<div class="container" *ngIf="created">
  <div class="jumbotron text-center">
    <h1 class="display-3">Reserva realizada correctamente</h1>
    <div>
      <p class="dataVerification">
        <a class="data"> Nombre: </a> {{reserva.nombre}} {{reserva.apellido}}
      </p>
      <p class="dataVerification">
        <a class="data">Dia: </a>   {{dia}}
      </p>
      <p class="dataVerification">
        <a class="data">Hora: </a>   {{reserva.hora}}:00 hs
      </p>
      <p class="dataVerification">
        <a class="data">Personas: </a> {{reserva.personas}}
      </p>
    </div>
    <hr>
    <p class="lead">
      <a class="btn btn-primary btn-sm"  role="button" (click)="closeModal()">volver</a>
    </p>
  </div>
  </div>
