<div class="limiter">
  <div class="container-login100">
    <div class="login100-more" style="background-image: url('assets/singUp/images/logIn.jpg');">
    <h1 class="title" > I A M  </h1>
    <h4 class="title2" > restaurant  </h4>


    </div>

    <div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
      <form class="login100-form validate-form">
        <span class="login100-form-title p-b-59">
          Iniciar sesión
        </span>

        <div class="wrap-input100 validate-input" data-validate="Campo obligatorio">
          <span class="label-input100">Usuario</span>
          <input class="input100" type="text" name="last name" placeholder="Usuario..." [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
          <span class="focus-input100"></span>
        </div>


        <div class="wrap-input100 validate-input" data-validate = "Campo obligatorio">
          <span class="label-input100">Contraseña</span>
          <input class="input100" type="password" name="pass" placeholder="*************" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
          <span class="focus-input100"></span>
        </div>

        <div class="container-login100-form-btn">
          <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button class="login100-form-btn" (click)="login()">
              Iniciar sesión
            </button>
          </div>
          <div class="container-login100-form-btn link">

        </div>
        </div>
      </form>
    </div>
  </div>
</div>
