.titulo{
  font-size: 65px;
    color: #c8a97e;
    font-weight: normal;
    font-family: "Great Vibes", cursive;
}



.foto {
  margin: 25px;
  width: 400px;
  height: 400px;
  background-size: cover;
}
